@model IEnumerable<ContosoUniversity.Models.PersonAjaxJSON>
@*@model ContosoUniversity.Models.PersonAjaxJSON*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/json.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style type="text/css">
        .GreenMsg {
            color: green;
        }

        .RedMsg {
            color: red;
        }
    </style>
    <title>Index</title>
</head>
<body>

    <div class="form-group row">
        @*@Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", id = "checkphoneno", placeholder = "请输入新患者的常用手机号码", onblur = "checkPhoneNo()" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger form-error" })
            </div>
            <div id="checkphonediv" class="col-md-2" style="display:none">
                <div id="newpatient">
                    <span style="color: green; display:none">新用户</span>
                </div>
                <div id="existpatient">
                    <span style="color: red; display:none">请重新输入号码</span>
                </div>
            </div>*@
        <div class="editor-label">
            <label for="Name">Name</label>
        </div>
        <div class="editor-field">
            <input class="text-box single-line" id="checkphoneno" name="Name" type="text" value="" onblur="checkPhoneNo()" />
        </div>
    </div>
    <div><span id="checkNameMsg"></span></div>
    <br /><br /><br />

    <div class="editor-label">
        <label for="Name">Name</label>
    </div>
    <div class="editor-field">
        <input class="text-box single-line" id="Name" name="Name" type="text" value="" />
    </div>
    <div class="editor-label">
        <label for="Age">Age</label>
    </div>
    <div class="editor-field">
        <input class="text-box single-line" id="Age" name="Age" type="text" value="" />
    </div>
    <p><input type="submit" value="Save" id="personCreate" /></p>

    <div><span id="resultMessage"></span></div>

    <script type="text/javascript">

        function checkPhoneNo() {
            var value = $("#checkphoneno").val();
            $.ajax({
                url: "/PersonAjaxJSON/GetCheckPatientPhoneNo?phoneNumber=" + value,
                type: "GET",
               // dataType: "json",
                //data: value,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    alert(data.Message);
                    alert(data.ExistName);
                    var message = data.Message;
                    var existName = data.ExistName;
                    if (existName) {
                        $("#checkNameMsg").html(message).addClass("GreenMsg");
                    }
                    else {
                        $("#checkNameMsg").html(message).addClass("RedMsg");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    alert(jqXHR.status);
                    alert(jqXHR.readyState);
                    alert(jqXHR.statusText);

                    alert(textStatus);
                    alert(errorThrown);
                }

            });
        }

        //function getName() {
        //    var name = $("#checkphoneno").val();
        //    // poor man's validation
        //    return { Name: name };
        //}

        //function checkPhoneNo() {
        //    //var value = $("#checkphoneno").val();
        //    var value = getName();
        //    var json = $.toJSON(value);
        //    $.ajax({
        //        url: "/PersonAjaxJSON/CheckPatientPhoneNo",
        //        type: "POST",
        //        dataType: "json",
        //        data: json,
        //        contentType: "application/json; charset=utf-8",
        //        success: function (data) {
        //            var message = data.Message;
        //            var existName = data.ExistName;
        //            if (existName) {
        //                $("#checkNameMsg").html(message).addClass("GreenMsg");
        //            }
        //            else {
        //                $("#checkNameMsg").html(message).addClass("RedMsg");
        //            }
        //        }
        //    });

        //    //if (value.length != 0) {
        //    //    var msg = "新用户";
        //    //    var msgDiv = $("#newpatient");
        //    //    var msgSpan = "<span style=\"color:green\">" + msg + "</span>"
        //    //    msgDiv.html(msgSpan);
        //    //    msgDiv.show();
        //    //}
        //}

        $(function () {
            $("#personCreate").click(function () {
                var person = getPerson();

                // poor man's validation
                if (person == null) {
                    alert("Specify a name please!");
                    return;
                }

                // take the data and post it via json
                //$.post("/PersonAjaxJSON/Save", person, function (data) {
                //    // get the result and do some magic with it
                //    var message = data.Message;
                //    $("#resultMessage").html(message);
                //});

                var json = $.toJSON(person);
                $.ajax({
                    url: "/PersonAjaxJSON/Save",
                    type: "POST",
                    dataType: "json",
                    data: json,
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        // get the result and do some magic with it
                        var message = data.Message;
                        $("#resultMessage").html(message).addClass("GreenMsg");
                    }
                });

            });
        });

        function getPerson() {
            var name = $("#Name").val();
            var age = $("#Age").val();

            // poor man's validation
            return (name == "") ? null : { Name: name, Age: age };
        }

    </script>

</body>
</html>




@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }

    </table>*@
